{% extends "portfolio/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

     <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>{% trans "Resume" %}</h2>
        <p>{% trans "Check My Resume" %}</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">{% trans "Sumary" %}</h3>
          <div class="resume-item pb-0">
            <h4>Thibault Montel</h4>
            <p><em>{% trans "Innovative, time-conscious back-end developer with over 15 years of experience designing and developing user-centric software from initial concept to final, polished deliverable." %}.</em></p>
            <p>
            <ul>
              <li>Saint-Bruno-de-Montarville, QC</li>
              <li>(438) 885-1660</li>
              <li>thibault.montel@gmail.com</li>
            </ul>
            </p>
          </div>
          <h3 class="resume-title">{% trans "Certifications" %}</h3>
          <div class="resume-item">
            <h4><a href="https://www.credly.com/badges/f25b0300-94b9-42a9-a0c7-979559807e35/public_url" target="_blank">PCAP – Certified Associate in Python Progamming</a></h4>
            <h5>2022</h5>
            <p><em>Python Institute</em></p>
          </div>
          <div class="resume-item">
            <h4><a href="https://www.credly.com/badges/6d5bc6a6-da64-4deb-85f9-64e7d02586d7/public_url" target="_blank">PCEP – Certified Entry-Level Python Programmer</a></h4>
            <h5>2022</h5>
            <p><em>Python Institute</em></p>
          </div>
          <h3 class="resume-title">{% trans "Education" %}</h3>
          <div class="resume-item">
            <h4>{% trans "IT Specialist" %}</h4>
            <h5>2006 - 2007</h5>
            <p><em>EPITECH - Le Kremlin Bicètre, France</em></p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Bachelor's degree in Computer Systems and Software, Software Development" %}</h4>
            <h5>2005 - 2006</h5>
            <p><em>{% trans "Auvergne University" %} - Aurillac, France</em></p>
          </div>
          <div class="resume-item">
            <h4>{% trans "B.T.S. IRIS, Software Development and Networks, Software Development" %}</h4>
            <h5>2003 - 2005</h5>
            <p><em>{% trans "Auvergne University" %} - Aurillac, France</em></p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">{% trans "Professional Experience" %}</h3>
          <div class="resume-item">
            <h4>{% trans "Lead Backend Developer" %} - SAQ.com</h4>
            <h5>2018 - {% trans "Now" %}</h5>
            <p><em>Valtech / Absolunet, {% trans "Montreal" %}, QC </em></p>
            <p>
            <ul>
              <li>{% trans "Architecture, implementation, maintenance and evolution of the SAQ.com site" %}</li>
              <li>{% trans "System Integration, Rest API, JWT Token" %}</li>
              <li>{% trans "Middleware, Messaging queue" %}</li>
              <li>{% trans "Rabbit MQ, Artemis Active MQ- Azure Storage" %}</li>
              <li>{% trans "Payment system management, Fraud detection" %}</li>
              <li>{% trans "Fastly, Varnish, VCL Snippet and Redis" %}</li>
              <li>{% trans "MySQL" %}</li>
              <li>{% trans "Elastic search, Logstash" %}</li>
              <li>{% trans "SAML Authentication" %}</li>
              <li>{% trans "Unit testing" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Lead Backend Developer" %}</h4>
            <h5>2016 - 2018</h5>
            <p><em>Valtech / Absolunet, {% trans "Montreal" %}, QC </em></p>
            <p>
            <ul>
              <li>{% trans "Development of Magento 1 and 2 e-commerce sites" %}</li>
              <li>{% trans "Design, development and maintenance of e-commerce platforms" %}</li>
              <li>{% trans "Functional analysis" %}</li>
              <li>{% trans "Database design" %}</li>
              <li>{% trans "User technical support" %}</li>
              <li>{% trans "Documentation writing" %}</li>
              <li>{% trans "Customizations / Evolutions" %}</li>
              <li>{% trans "System integrations" %}</li>
              <li>{% trans "Monitoring" %}</li>
              <li>{% trans "Performance Optimization - Security Management" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Digital Marketing Developer" %}</h4>
            <h5>2014 - 2016</h5>
            <p><em>iProspect / NVI, {% trans "Montreal" %}, QC</em></p>
            <p>
            <ul>
              <li>{% trans "Creating Google Docs Scripts" %}</li>
              <li>{% trans "Creating Adwords Scripts" %}</li>
              <li>{% trans "DoubleClick Studio Dynamic Banners" %}</li>
              <li>{% trans "Google Analytics measurement plan and implementation guide" %}</li>
              <li>{% trans "Google Tag Manager and Google Analytics setup" %}</li>
              <li>{% trans "Implementation of internal tools" %}</li>
              <li>{% trans "Monitoring and evolution of the company's ERP" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Backend Developer" %}</h4>
            <h5>2010 - 2014</h5>
            <p><em>NVI, {% trans "Montreal" %}, QC</em></p>
            <p>
            <ul>
              <li>{% trans "Design, development and maintenance of an ERP with Zend Framework / Doctrine" %}</li>
              <li>{% trans "Functional analysis" %}</li>
              <li>{% trans "Database design" %}s</li>
              <li>{% trans "User technical support" %}</li>
              <li>{% trans "Documentation writing" %}</li>
              <li>{% trans "Google Analytics" %}</li>
              <li>{% trans "Joomla" %}</li>
              <li>{% trans "Magento" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Backend Developer" %}</h4>
            <h5>2009 - 2010</h5>
            <p><em>Inpix, {% trans "Montreal" %}, QC</em></p>
            <p>
            <ul>
              <li>{% trans "Implementation of a personalized newsletter program for Bestbuy" %}</li>
              <li>{% trans "Development of various contests for Bestbuy and Les Ailes de la Mode" %}</li>
              <li>{% trans "Development of Wordpress plugins for the websites of the Opéra de Montreal, the Noel au Printemps Foundation and Sonotechnique" %}</li>
              <li>{% trans "Development of fan pages as well as several Facebook games for Educ'Alcool / Pocheville" %}</li>
              <li>{% trans "Works on the Google map API" %}</li>
              <li>{% trans "Work on an online registration and tracking system for Telus rep events" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Backend Developer" %}</h4>
            <h5>2009</h5>
            <p><em>{% trans "Freelance" %}, {% trans "Montreal" %}, QC</em></p>
            <p>
            <ul>
              <li>{% trans "Development of several streaming sites" %}</li>
              <li>{% trans "Wordpress multi-user blog" %}</li>
              <li>{% trans "Linux system administration" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Flash Developer" %}</h4>
            <h5>2009</h5>
            <p><em>Vortex Solution, {% trans "Montreal" %}, QC</em></p>
            <p>
            <ul>
              <li>{% trans "AS1 / AS2 flash animation development" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "Backend Developer" %} Java / PHP</h4>
            <h5>2007 - 2009</h5>
            <p><em>Prizee.com, Clermont-Ferrand, France</em></p>
            <p>
            <ul>
              <li>{% trans "Development and securing of online payment methods in PHP 5 (Credit card)" %}</li>
              <li>{% trans "Development and securing of online payment methods in JavaJ2EE / Webservices (Internet+)" %}</li>
              <li>{% trans "MySql database design and optimization" %}</li>
              <li>{% trans "Ajax development" %}</li>
              <li>{% trans "Development of game servers in Php" %}</li>
              <li>{% trans "General development on the Prizee.com website" %}</li>
              <li>{% trans "Setting up a dynamic graph system in Java" %}</li>
              <li>{% trans "Documentation writing" %}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{% trans "System Administrator / Java Developer" %}</h4>
            <h5>2005 - 2006</h5>
            <p><em>Newtel, Clermont-Ferrand, France - {% trans "Intership" %}</em></p>
            <p>
            <ul>
              <li>{% trans "Design and implementation of a shared agenda / messaging management application in Java J2EE" %}</li>
              <li>{% trans "Administration Windows 2008 server edition" %}</li>
              <li>{% trans "Managing a remote application via Terminal Server" %}</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

{% endblock %}